* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

/* LAYOUT */
.layout {
  display: flex;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: #0f172a;
  color: white;
  padding: 20px;
  height: 100vh;
}

.logo {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.plus {
  background: #ff7a18;
  padding: 10px;
  border-radius: 8px;
}

.section {
  font-size: 12px;
  color: #94a3b8;
  margin: 15px 0;
}

.roles {
  display: flex;
  gap: 10px;
}

.role {
  flex: 1;
  padding: 10px;
  background: #1e293b;
  border-radius: 10px;
  text-align: center;
}

.role.active {
  background: #ff7a18;
}

/* PROFILE */
.profile {
  display: flex;
  gap: 10px;
  margin: 20px 0;
}

.avatar {
  background: orange;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU */
.menu li {
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 8px;
  cursor: pointer;
}

.menu li.active {
  background: #ff7a18;
}

/* MAIN */
.main {
  flex: 1;
  padding: 40px;
  background: #f6f8fb;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

/* CONTENT */
.content {
  display: flex;
  gap: 30px;
}

/* CALENDAR */
.calendar {
  flex: 2.5;
  background: white;
  padding: 20px;
  border-radius: 15px;
}

.cal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.nav button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.day {
  text-align: center;
  font-size: 12px;
  color: gray;
}

.date {
  height: 60px;
  background: #f1f5f9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date.selected {
  background: #ffe6d5;
  color: orange;
}

/* DOCTOR PANEL */
.doctor-panel {
  flex: 1;
  background: #f9fafb;
  padding: 20px;
  border-radius: 15px;
}

.doctor {
  display: flex;
  gap: 10px;
  padding: 10px;
  background: white;
  border-radius: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

.doctor.active {
  border: 2px solid orange;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.blue { background: #0284c7; }
.purple { background: #8b5cf6; }
.green { background: #10b981; }

.rating {
  font-size: 12px;
  color: orange;
}

/* INFO */
.info {
  background: #fde68a;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 13px;
}

/* BUTTON */
.confirm {
  width: 100%;
  padding: 12px;
  background: #ff7a18;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}